@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');



:root {
    --lightCyan: hsl(193, 38%, 86%);
    --neonGreen: hsl(150, 100%, 66%);
    --darkBlue: hsl(218, 23%, 16%);
    --grayishBlue: hsl(217, 19%, 38%);
    --darkGrayishBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: var(--darkBlue);
}

main {
    background-color: var(--darkGrayishBlue);
    padding: 1.5rem;
    width: min(500px, 90vw);
    border-radius: 0.8em;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main h1 {
    text-transform: uppercase;
    color: var(--neonGreen);
    font-size: clamp(0.7rem, 0.9vw, 0.95rem);
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.quote {
    color: var(--lightCyan);
    font-size: clamp(1.8rem, 1.2vw, 2.2rem);
    margin-bottom: 1.2rem;
}

.pattern-divider {
    margin-bottom: 1.2rem;
}

.dice-holder {
    background-color: var(--neonGreen);
    padding: 1.2em;
    border-radius: 50%;
    border: none;
    display: inline-grid;
    place-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 150ms;
}

.dice-holder:hover {
    box-shadow: 0px 0px 27px 0px var(--neonGreen);
}





